@import url('../src/styles/root.module.css');
@import url('../src/styles/zero.module.css'); 
@import url('../src/styles/fonts.module.css');

body {
  margin: 0;
  font-family: DMSans, Arial;
  background-color: var(--color-background-dark);
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
