@import url('../src/styles/root.module.css');
@import url('../src/styles/zero.module.css'); 
@import url('../src/styles/fonts.module.css');

body {
  margin: 0;
  font-family: 'DM Sans';
  background-color: var(--color-background-dark);
  color: var(--color-text);
  background-image: url('../src/assets/images/bg-cafe.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
